<!-- Footer
================================================== -->
<div class="margin-top-20"></div>

<div id="footer">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <h4>About</h4>
                <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
               
            </div>

            <div class="col-md-4  col-sm-6 col-xs-12">
             
            </div>

            <div class="col-md-3  col-sm-12 col-xs-12">
                <h4>Contact Us</h4>
                <div class="text-widget">
                    
                  
                    E-Mail:<span> ontheflycode@gmail.com </span><br>
                </div>
            </div>

        </div>

        
        <div class="row">
            <div class="col-md-12">
               <br><br>
            </div>
        </div>

    </div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#navigation"></a></div>
